@font-face { 
  font-family: Jenna Sue; 
    src: url('../fonts/JennaSue-webfont.eot'); 
    src: local("Jenna Sue"), url('../fonts/JennaSue-webfont.ttf'); 
} 



} 
@font-face { 
  font-family:Kunstler Script ; 
    src: url('../fonts/KUNSTLER.eot'); 
  src: local("Kunstler Script"), url('../fonts/KUNSTLER.TTF');
}




body { 
    
  background: #8cc4d2fa;

}

p { 
  font: normal 1.6em "arial",  sans-serif;
 
  line-height: 1.4em;
  color: #8A2BE2;
  
}

  
table td { height: 45px;
  background: #DDD;
  color: #47433F;
  border-top: 1px solid #FFF;
  text-align: center;
}

table {
  font-family: arial, sans-serif;
  width: 100%;
}
th {  padding: 7px 4px;
  height: 20px;
  background-color: #4CAF50;
  color: white;
 text-align: center;
}

h1{ 
  font: normal 400% 'Jenna Sue', arial, sans-serif;
  color: #8A2BE2;
  margin: 0 0 15px 0;
  padding: 15px 0 5px 0;
}



h2 { 
  font: normal 280% 'Jenna Sue', arial, sans-serif;
  color:black;
  margin: 0;
  padding: 0 0 8px 0;
 
}

h3 { 
  
  color:blue;
}

h4, h5, h6 { 
  margin: 0;
  padding: 0 0 5px 0;
  font: normal 160% arial, sans-serif;
  line-height: 1.5em;
  color:blue;
}

h5{ 
  font: italic 150% arial, sans-serif;
 
  padding-bottom: 15px;
}



a, a:hover { 
  outline: none;
  color: black;
  text-decoration: underline;
}

a:hover { 
  text-decoration: none;
  color: blue;
}





.logo { 
  width: 200px;
  float: left;
  height: 100px;
  background: transparent;
  padding: 0 0 10px 0;
}

.logo h1 { 
  font: normal 500% 'Kunstler Script', arial, sans-serif;
  padding: 45px 0 0 0;
  color:#6A5ACD;
  font-weight:bold;
  letter-spacing: -2px;
}



#image { position: absolute;
   top: 150px;
   left:200px;
      } 



.content {  position: absolute;
   top: 560px;
   left:50px;
  text-align: justify;
  width: 1050px;
  height:400px;
  padding: 20px 0 5px 0;
  margin: 0;

}



footer {
  position: absolute;
  top:700px;
  width: 950px;
  height: 90px;
  padding: 20px 0 5px 0;
  text-align: center; 

  margin-top: 20px;
}

footer p { 
  padding: 0 0 10px 0;
  color:#8A2BE2;
  font: 140% "arial", sans-serif;
  
}







  


 
